{% extends "base.html" %}

{% block content %}
<div class="sm:px-8 mt-14 sm:mt-24">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
<div class="mx-auto max-w-2xl lg:max-w-5xl">

                <h1 class="text-3xl font-bold mt-8 mb-4" id="about">About</h1>
<p class="mt-2">Hi there, I'm Chris! 👋 Welcome to my profile.</p>
<p class="mt-2">Follow me on:
    <a href="https://bsky.app/profile/chris1ding1.bsky.social" class="text-blue-600 dark:text-blue-500 hover:underline">Bsky</a> |
    <a href="https://github.com/chris1ding1" class="text-blue-600 dark:text-blue-500 hover:underline">GitHub</a> |
    <a href="https://www.pinterest.com/chris1ding1/_created" class="text-blue-600 dark:text-blue-500 hover:underline">Pinterest</a> |
    <a href="https://x.com/chris1ding1" class="text-blue-600 dark:text-blue-500 hover:underline">X</a>
</p>
<p class="mt-2">Have a great day! 😊</p>
<p class="mt-4">
    <strong>平常心</strong> ·
    <strong>做到自己的百分之百</strong> ·
    <strong>开发者</strong> ·
    <strong>一字不差阅读</strong> ·
    <strong>遇到问题解决问题</strong> ·
    <strong>简单</strong> ·
    <strong>被动加班不是一个值得炫耀的事</strong> ·
    <strong>契约</strong> ·
    <strong>jiàng</strong> ·
    <strong>中文文案排版指北</strong>
</p>
<h2 class="text-2xl font-semibold mt-6 mb-3" id="my-products">My Products<a class="headerlink" href="#my-products" title="Permanent link">¶</a></h2>
<ul class="list-disc pl-5 my-4 space-y-2">
<li class="mb-1"><a href="https://1024.dev" class="text-blue-600 dark:text-blue-500 hover:underline">1024 Developer Platform | 1024.dev</a> Resource Links, Developer Tools, Code Blocks, Data Reports.</li>
<li class="mb-1"><a href="https://pinhub.xyz" class="text-blue-600 dark:text-blue-500 hover:underline">Pin Hub - Bookmark Manager | pinhub.xyz</a> Easily save your favorite URLs, images, notes, and voice memos.</li>
<li class="mb-1"><a href="https://timemate.app" class="text-blue-600 dark:text-blue-500 hover:underline">Time Mate - Your Time Companion | timemate.app</a> Calendar, Current Time, Durations, Milestone & Timelines.</li>
<li class="mb-1"><a href="https://txtify.app" class="text-blue-600 dark:text-blue-500 hover:underline">Txtify - Text Helper | txtify.app</a> Character Counter, Chinese numerals, English alphabet, Special Characters, Text Converter, True Random String Generator, Zero-Width Space.</li>
</ul>
<h2 class="text-2xl font-semibold mt-6 mb-3" id="my-open-source-projects">My Open Source Projects<a class="headerlink" href="#my-open-source-projects" title="Permanent link">¶</a></h2>
<ul class="list-disc pl-5 my-4 space-y-2">
<li class="mb-1"><a href="https://github.com/chris1ding1/md-star" class="text-blue-600 dark:text-blue-500 hover:underline">md-star | Markdown to HTML Converter</a></li>
<li class="mb-1"><a href="https://github.com/chris1ding1/masonite-lang" class="text-blue-600 dark:text-blue-500 hover:underline" >masonite-lang | Python Masonite Framework Language Package</a></li>
</ul>
<h2 class="text-2xl font-semibold mt-6 mb-3" id="my-donations">My Donations<a class="headerlink" href="#my-donations" title="Permanent link">¶</a></h2>
<ul class="list-disc pl-5 my-4 space-y-2">
<li class="mb-1">相互宝 ¥253.98 CNY</li>
<li class="mb-1">水滴筹 ¥782 CNY</li>
<li class="mb-1">轻松筹 ¥2360 CNY</li>
<li class="mb-1">腾讯公益 ¥120 CNY</li>
<li class="mb-1">骑手打赏 ? CNY</li>
<li class="mb-1">土耳其赈灾（2023.02.13 UTC-8） ? CNY</li>
<li class="mb-1">Weixin Official Accounts Platform. 喜欢作者 ~¥500 CNY</li>
<li class="mb-1">Packagist/Composer 中国全量镜像 ~¥300 CNY</li>
<li class="mb-1">GNOME Foundation $2</li>
<li class="mb-1"><a class="text-blue-600 dark:text-blue-500 hover:underline" href="https://opencollective.com/chrisding">Open Collective - Chris</a></li>
<li class="mb-1"><a class="text-blue-600 dark:text-blue-500 hover:underline" href="https://github.com/chris1ding1?tab=sponsoring">GitHub Sponsoring - Chris</a></li>
<li class="mb-1">More...</li>
</ul>
<h2 class="text-2xl font-semibold mt-6 mb-3" id="my-software-purchases">My Software Purchases<a class="headerlink" href="#my-software-purchases" title="Permanent link">¶</a></h2>
<ul class="list-disc pl-5 my-4 space-y-2">
<li class="mb-1">Bear</li>
<li class="mb-1">Charles</li>
<li class="mb-1">Eudic Pro</li>
<li class="mb-1">Kaleidoscope</li>
<li class="mb-1">Office 365</li>
<li class="mb-1">PhpStorm</li>
<li class="mb-1">TablePlus</li>
<li class="mb-1">Tailwind CSS Plus</li>
<li class="mb-1">Tinkerwell</li>
<li class="mb-1">Transmit</li>
<li class="mb-1">VScode Extensions</li>
<li class="mb-1">网易云音乐单曲若干</li>
<li class="mb-1">新闻几项</li>
<li class="mb-1">其它订阅</li>
<li class="mb-1">More...</li>
</ul>
<h2 class="text-2xl font-semibold mt-6 mb-3" id="blog-deploy">Blog Deploy<a class="headerlink" href="#blog-deploy" title="Permanent link">¶</a></h2>
<ul class="list-disc pl-5 my-4 space-y-2">
<li class="mb-1">Built with <a href="https://github.com/chris1ding1/md-star">md-star</a></li>
<li class="mb-1">deployed on Cloudflare Pages.</li>
<li class="mb-1">Build command: pip install md-star &amp;&amp; mdstar build</li>
<li class="mb-1">Build output: dist</li>
</ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{% if schema_profile_page %}
<script type="application/ld+json">
    {{ schema_profile_page | safe }}
</script>
{% endif %}
{% endblock %}
